Environment Validation Summary:
   [OK] Valid: True
   [ERR] Errors: 0
   [WARN] Warnings: 0

Environment Configuration (non-sensitive):
   APP_ENV: development
   DATABASE_URL: sqlite:///C:/Users/Rohan Rathod/.gemini/antigravity/brain/89da54e5-8406-4f73-ad8b-0f54b774250c/test.db
   JWT_SECRET_KEY: [REDACTED]
   HOST: 127.0.0.1
   PORT: 8000
   DEBUG: True
   JWT_ALGORITHM: HS256
   JWT_EXPIRATION_HOURS: 24
   WELCOME_MESSAGE: Welcome to Soul Sense!
CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> b33b18452387

CREATE TABLE journal_entries (
    id INTEGER NOT NULL, 
    username VARCHAR, 
    entry_date VARCHAR, 
    content TEXT, 
    sentiment_score FLOAT, 
    emotional_patterns TEXT, 
    user_id INTEGER, 
    PRIMARY KEY (id)
);

CREATE TABLE users (
    id INTEGER NOT NULL, 
    username VARCHAR NOT NULL, 
    password_hash VARCHAR NOT NULL, 
    created_at VARCHAR, 
    last_login VARCHAR, 
    PRIMARY KEY (id), 
    UNIQUE (username)
);

CREATE TABLE scores (
    id INTEGER NOT NULL, 
    username VARCHAR, 
    total_score INTEGER, 
    age INTEGER, 
    detailed_age_group VARCHAR, 
    timestamp VARCHAR, 
    user_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE TABLE responses (
    id INTEGER NOT NULL, 
    username VARCHAR, 
    question_id INTEGER, 
    response_value INTEGER, 
    age_group VARCHAR, 
    detailed_age_group VARCHAR, 
    timestamp VARCHAR, 
    user_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE TABLE question_category (
    id INTEGER NOT NULL, 
    name VARCHAR NOT NULL, 
    description TEXT, 
    PRIMARY KEY (id)
);

CREATE TABLE question_bank (
    id INTEGER NOT NULL, 
    question_text TEXT NOT NULL, 
    category_id INTEGER, 
    difficulty INTEGER, 
    min_age INTEGER, 
    max_age INTEGER, 
    weight FLOAT, 
    is_active INTEGER, 
    tooltip TEXT, 
    created_at VARCHAR, 
    PRIMARY KEY (id)
);

CREATE TABLE question_metadata (
    question_id INTEGER NOT NULL, 
    source VARCHAR, 
    version VARCHAR, 
    tags VARCHAR, 
    PRIMARY KEY (question_id)
);

CREATE TABLE login_attempts (
    id INTEGER NOT NULL, 
    username VARCHAR, 
    is_successful BOOLEAN, 
    timestamp DATETIME, 
    ip_address VARCHAR, 
    PRIMARY KEY (id)
);

CREATE TABLE statistics_cache (
    id INTEGER NOT NULL, 
    stat_name VARCHAR, 
    stat_value FLOAT, 
    stat_json TEXT, 
    calculated_at VARCHAR, 
    valid_until VARCHAR, 
    PRIMARY KEY (id)
);

INSERT INTO alembic_version (version_num) VALUES ('b33b18452387') RETURNING version_num;

-- Running upgrade b33b18452387 -> c62bcfa45980

ALTER TABLE journal_entries ADD COLUMN sleep_hours FLOAT;

ALTER TABLE journal_entries ADD COLUMN sleep_quality INTEGER;

ALTER TABLE journal_entries ADD COLUMN energy_level INTEGER;

ALTER TABLE journal_entries ADD COLUMN work_hours FLOAT;

UPDATE alembic_version SET version_num='c62bcfa45980' WHERE alembic_version.version_num = 'b33b18452387';

-- Running upgrade c62bcfa45980 -> 33d85e6f18ff

CREATE TABLE medical_profiles (
    id INTEGER NOT NULL, 
    user_id INTEGER NOT NULL, 
    blood_type VARCHAR, 
    allergies TEXT, 
    medications TEXT, 
    medical_conditions TEXT, 
    emergency_contact_name VARCHAR, 
    emergency_contact_phone VARCHAR, 
    last_updated VARCHAR, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE UNIQUE INDEX ix_medical_profiles_user_id ON medical_profiles (user_id);

UPDATE alembic_version SET version_num='33d85e6f18ff' WHERE alembic_version.version_num = 'c62bcfa45980';

-- Running upgrade 33d85e6f18ff -> 2eaa9d975b79

CREATE TABLE personal_profiles (
    id INTEGER NOT NULL, 
    user_id INTEGER NOT NULL, 
    occupation VARCHAR, 
    education VARCHAR, 
    marital_status VARCHAR, 
    hobbies TEXT, 
    bio TEXT, 
    life_events TEXT, 
    avatar_path VARCHAR, 
    last_updated VARCHAR, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE UNIQUE INDEX ix_personal_profiles_user_id ON personal_profiles (user_id);

UPDATE alembic_version SET version_num='2eaa9d975b79' WHERE alembic_version.version_num = '33d85e6f18ff';

-- Running upgrade 2eaa9d975b79 -> 1fc597e57c19

CREATE TABLE user_strengths (
    id INTEGER NOT NULL, 
    user_id INTEGER NOT NULL, 
    top_strengths TEXT, 
    areas_for_improvement TEXT, 
    learning_style VARCHAR, 
    communication_preference VARCHAR, 
    sharing_boundaries TEXT, 
    goals TEXT, 
    last_updated VARCHAR, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE UNIQUE INDEX ix_user_strengths_user_id ON user_strengths (user_id);

UPDATE alembic_version SET version_num='1fc597e57c19' WHERE alembic_version.version_num = '2eaa9d975b79';

-- Running upgrade 1fc597e57c19 -> f62984ab805f

CREATE TABLE statistics_cache (
    id INTEGER NOT NULL, 
    stat_name VARCHAR, 
    stat_value FLOAT, 
    stat_json TEXT, 
    calculated_at VARCHAR, 
    valid_until VARCHAR, 
    PRIMARY KEY (id)
);

CREATE INDEX idx_stats_name_valid ON statistics_cache (stat_name, valid_until);

CREATE UNIQUE INDEX ix_statistics_cache_stat_name ON statistics_cache (stat_name);

CREATE INDEX ix_statistics_cache_valid_until ON statistics_cache (valid_until);

CREATE TABLE question_cache (
    id INTEGER NOT NULL, 
    question_id INTEGER, 
    question_text TEXT NOT NULL, 
    category_id INTEGER, 
    difficulty INTEGER, 
    is_active INTEGER, 
    min_age INTEGER, 
    max_age INTEGER, 
    tooltip TEXT, 
    cached_at VARCHAR, 
    access_count INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(question_id) REFERENCES question_bank (id)
);

CREATE TABLE satisfaction_history (
    id INTEGER NOT NULL, 
    user_id INTEGER NOT NULL, 
    month_year VARCHAR, 
    avg_satisfaction FLOAT, 
    trend VARCHAR, 
    insights TEXT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX idx_satisfaction_history_user_month ON satisfaction_history (user_id, month_year);

CREATE INDEX ix_satisfaction_history_month_year ON satisfaction_history (month_year);

CREATE INDEX ix_satisfaction_history_user_id ON satisfaction_history (user_id);

CREATE TABLE user_settings (
    id INTEGER NOT NULL, 
    user_id INTEGER NOT NULL, 
    theme VARCHAR, 
    question_count INTEGER, 
    sound_enabled BOOLEAN, 
    notifications_enabled BOOLEAN, 
    language VARCHAR, 
    updated_at VARCHAR, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE UNIQUE INDEX ix_user_settings_user_id ON user_settings (user_id);

CREATE TABLE satisfaction_records (
    id INTEGER NOT NULL, 
    user_id INTEGER, 
    username VARCHAR, 
    timestamp VARCHAR, 
    satisfaction_score INTEGER, 
    satisfaction_category VARCHAR, 
    positive_factors TEXT, 
    negative_factors TEXT, 
    improvement_suggestions TEXT, 
    context VARCHAR, 
    duration_months INTEGER, 
    eq_score_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(eq_score_id) REFERENCES scores (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX idx_satisfaction_category_score ON satisfaction_records (satisfaction_category, satisfaction_score);

CREATE INDEX idx_satisfaction_context ON satisfaction_records (context, satisfaction_score);

CREATE INDEX idx_satisfaction_user_time ON satisfaction_records (user_id, timestamp);

CREATE INDEX ix_satisfaction_records_eq_score_id ON satisfaction_records (eq_score_id);

CREATE INDEX ix_satisfaction_records_satisfaction_category ON satisfaction_records (satisfaction_category);

CREATE INDEX ix_satisfaction_records_satisfaction_score ON satisfaction_records (satisfaction_score);

CREATE INDEX ix_satisfaction_records_timestamp ON satisfaction_records (timestamp);

CREATE INDEX ix_satisfaction_records_user_id ON satisfaction_records (user_id);

CREATE INDEX ix_satisfaction_records_username ON satisfaction_records (username);

DROP TABLE question_metadata;

FAILED: This operation cannot proceed in --sql mode; batch mode with dialect sqlite requires a live database connection with which to reflect the table "journal_entries". To generate a batch SQL migration script using table "move and copy", a complete Table object should be passed to the "copy_from" argument of the batch_alter_table() method so that table reflection can be skipped.
